<footer class="footer">
    <div class="container-fluid">
        <a href="https://github.com/alexandervela"><i class="social-icon fab fa-github-square fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/alexander-vela/"><i class="social-icon fab fa-linkedin fa-3x"></i></a>
        <a href="#"><i class="social-icon far fa-envelope fa-3x"></i></a>
        <p>Web Application created by Alexander Vela</p>
    </div>
</footer>