<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <title>New Item Form</title>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1 class="white-heading">New Item</h1>

      <form action="/lists/<%= listId %>/items/create" method="post">
        <div class="form-group">
          <label class="white-text" for="name">Item Name</label>
          <input type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Item Name">
          <small class="text-muted" id="nameHelp">item name must be 2 or more characters in length.</small>
        </div>
        <div class="form-group">
          <label class="white-text" for="price">Item Price</label>
          <input type="text" class="form-control" name="price" aria-describedby="priceHelp" placeholder="Enter Price">
          <small class="text-muted" id="priceHelp">price must be 4 or more characters in length.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>

  <% include ../static/partials/footer.ejs %>

</html>