<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
    <title>View All Lists</title>
  </head>
  <body>
    <main class="container">
      <!-- Navigation -->
      <% include ../static/partials/navbar.ejs %>

      <h1>Lists</h1>
      <a href="/lists/new" class="btn btn-success">New List</a>

      <ul class="list-group">
        <% lists.forEach((list) => { %>
          <li class="list-group-item">
            <a href="/lists/<%= list.id %>"> <%= list.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>

  <!-- Footer -->
  <% include ../static/partials/footer.ejs %>
  
</html>